.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 66px;
    box-shadow: 1px 10px 40px 0px rgba(0, 0, 0, 0.2);
}

.circle {
    width: 35px;
    height: 33.83px;
    background: #D23669;
    border-radius: 50%;
    margin-left: 416px;
}

.btns-block {
    margin-left: 339px;
}

.btn {
    width: 93px;
    height: 30px;
    color: #ffffff;
    background: #D23669;
    border: none;
    border-radius: 5px;
}

.btn2 {
    width: 114px;
    height: 30px;
    color: #D23669;
    border: 1px solid #D23669;
    border-radius: 5px;
    margin-left: 14px;
}