.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 66px;
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 32px gray;

    .circle {
        width: 35px;
        height: 33px;
        background: #D23669;
        border-radius: 50%;
        margin-left: 420px;
    }

    .btns_block {
        margin-left: 339px;

        .btn_text {
            color: #fff;
            text-decoration: none;
        }

        .btn_text2 {
            color: #D23669;
            text-decoration: none;
        }

        .btn {
            margin-left: 19px;
        }
    }
}

@media (max-width: 1280px) {
    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        height: 66px;
        padding: 0;
        margin: 0;
        box-shadow: 0px 0px 32px gray;

        .circle {
            width: 35px;
            height: 33px;
            background: #D23669;
            border-radius: 50%;
            margin-left: 332px;
        }

        .btns_block {
            margin-left: 339px;

            .btn_text {
                color: #fff;
                text-decoration: none;
            }

            .btn_text2 {
                color: #D23669;
                text-decoration: none;
            }

            .btn {
                margin-left: 19px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        height: 66px;
        padding: 0;
        margin: 0;
        box-shadow: 0px 0px 32px gray;

        .circle {
            width: 35px;
            height: 33px;
            background: #D23669;
            border-radius: 50%;
            margin-left: 204px;
        }

        .btns_block {
            margin-left: 339px;

            .btn_text {
                color: #fff;
                text-decoration: none;
            }

            .btn_text2 {
                color: #D23669;
                text-decoration: none;
            }

            .btn {
                margin-left: 19px;
            }
        }
    }
}



@media (max-width: 914px) {
    .navbar {
        display: flex;
        align-items: center;
        width: 100%;
        height: 66px;
        padding: 0;
        margin: 0;
        box-shadow: 0px 0px 32px gray;

        .circle {
            width: 35px;
            height: 33px;
            background: #D23669;
            border-radius: 50%;
            margin-left: 24px;
        }

        .btns_block {

            margin-left: 200px;

            .btn_text {
                color: #fff;
                text-decoration: none;
            }

            .btn_text2 {
                color: #D23669;
                text-decoration: none;
            }

            .btn {
                margin-left: 19px;
            }
        }
    }
}