.fz22 {
    font-size: 22px;
}

.fz24 {
    font-size: 24px;
}

.fz26 {
    font-size: 26px;
}

.fz28 {
    font-size: 28px;
}

.fz30 {
    font-size: 30px;
}

.fz32 {
    font-size: 32px;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}