.add_post {
    display: flex;
    flex-direction: column;
    align-items: center;

    Form {
        width: 600px;
        height: 639px;
        border: 1px solid #E8E8E8;
        border-radius: 5px;
        margin-top: 48px;

        .post_body {
            display: flex;
            flex-direction: column;
            align-items: center;

            .avatar_block {
                margin-top: -30px;

                .avatar_body {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 540px;
                    height: 165px;
                    background: #F5F5F5;
                    border-radius: 5px;
                    margin-top: -40px;

                    .circle_avatar {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 75px;
                        height: 75px;
                        background: #D9D9D9;
                        border-radius: 50%;
                        cursor: pointer;

                        .img {
                            width: 30px;
                        }
                    }
                }
            }

            .elements_block {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 35px;

                .input_label {
                    width: 537px;
                    height: 41px;
                    background: #F5F5F5;
                    border-radius: 5px;

                    input {
                        width: 518px;
                        height: 39px;
                        font-size: 14px;
                        font-weight: 300;
                        background: #F5F5F5;
                        outline: none;
                        border: none;
                        border-radius: 5px;
                        margin-left: 15px;

                        &::placeholder {
                            color: #000;
                        }
                    }
                }

                .label {
                    width: 537px;
                    height: 165px;
                    background: #F5F5F5;
                    margin-top: 15px;

                    textarea {
                        min-width: 518px;
                        min-height: 148px;
                        background: #F5F5F5;
                        font-size: 14px;
                        font-weight: 300;
                        border: none;
                        outline: none;
                        resize: both;
                        margin-left: 13px;
                        margin-top: 13px;

                        &::placeholder {
                            color: #000;
                            padding-left: 2px;
                        }
                    }
                }

                Button {
                    margin-top: 20px;
                }
            }
        }
    }

}